.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  /* border-bottom: 1px solid #f0f0f0; */
  box-shadow: none;
}
.center {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 20px;
  flex-direction: column;
}
.activefalse {
  display: none;
}
.big-img {
  width: 460px;
  height: 468px;
}
.activetrue {
  display: block;
  list-style: none;
  color: rgb(126, 125, 125);
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 5;
  width: 90%;
  height: 100%;
  box-shadow: 5px 5px 5px #dad9d9;
  -webkit-animation: backInLeft 1.5s;
  animation: backInLeft 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes backInLeft {
  0% {
    transform: translateX(-2000px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInLeft {
  0% {
    transform: translateX(-2000px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.trigger {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 30px;
  margin: 2px 2px 5px;
}
.trigger-div {
  z-index: 100;
  width: 100%;
  height: 25px;
  padding-bottom: 35px;
  background-color: rgba(238, 235, 235, 0.295);
}
.activetrue li {
  margin-bottom: 50px;
}

.nav-ul {
  list-style: none;
  color: silver;
  font-weight: 500;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-ul li:hover {
  text-shadow: 1px 1px #3b3b3bad;
  transition: all 0.1s ease-in-out;
}
.nav-ul li {
  margin-right: 15px;
}
.home-cover {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.home-cover .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #04040447;
}
.card {
  margin: 10px;
  width: 300px;
  height: 460px;
  font-size: 15px;
}

.button {
  padding: 8px 30px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  padding-bottom: 20px;
  padding-top: 10px;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: silver;
}
@keyframes twistInLeft {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1) translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) rotate(-360deg) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}

.trigger {
  -webkit-animation-name: twistInLeft 0.5s;
  animation-name: twistInLeft 0.5s;
  animation: twistInLeft 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@media (max-width: 900px) {
  .home-cover {
    display: none;
  }
  .sider-mobile {
    display: block;
  }
  .fullScreenNavBar {
    display: none;
  }
  .big-img {
    width: 350px;
    height: 350px;
  }
  .center {
    display: flex;
    width: 350px;
    font-size: 25px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .container {
    max-width: 350px;

    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
}
