.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  /* border-bottom: 1px solid #f0f0f0; */
  box-shadow: none;
}
.center {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.img {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200;
  height: 200;
}
.footer {
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: silver;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  color: silver;
  font-size: 16px;
  font-weight: 500;
}
.home-cover {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.home-cover .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #04040447;
}
